[Desktop Entry]
Name=QDevelop
GenericName=QDevelop
Comment=A development environment dedicated to Qt4
Comment[ru]=Среда разработки для Qt4
Exec=qdevelop
Icon=qdevelop
Terminal=false
Type=Application
Categories=Qt;Development;IDE;
MimeType=application/vnd.nokia.qt.qmakeprofile

