Source: qdevelop
Section: devel
Priority: extra
Maintainer: Mohammed Sameer <msameer@debian.org>
Uploaders: Daniel Rocher <daniel.rocher@adella.org>,  Diego Iastrubni <elcuco@kde.org>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5), libqt4-dev, dpatch
Homepage: http://qdevelop.org

Package: qdevelop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt4-dev, qt4-dev-tools, qt4-designer
Recommends: gdb, exuberant-ctags, qt4-doc
Description: A Development Environment for Qt4
 QDevelop is a development environment entirely dedicated to Qt4. 
 .
 QDevelop is available in English, French, German, Dutch, Polish, Spanish,
 Chinese, Russian, Italian, Ukrainian, Czech and Portuguese. If you want to
 translate in your language, please contact the authors.
 .
 QDevelop is not a KDevelop like or reduced. It's an independent IDE dedicated
 to Qt and is totally independent of KDevelop. Less complete, but faster, light
 and especially multi-platforms. QDevelop and KDevelop have different code
 sources.
