Source: qdevelop
Section: devel
Priority: extra
Maintainer: Diego Iastrubni <elcuco@kde.org>
Build-Depends: debhelper (>= 5), libqt4-dev, cmake
Standards-Version: 3.7.2

Package: qdevelop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, cmake, libqt4-dev
Description: a small IDE for Qt4 applications
 a small IDE for Qt4 applications
